@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 152 97% 31%;
    --radius: 0.5rem;
  }

  body {
    @apply bg-white text-gray-900;
  }
}

@layer utilities {
  .border-l-maxGreen {
    border-left-color: #039B96 !important;
  }
}
